---
import Container from "@components/container.astro";
import Sectionhead from "@components/home/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Image, getImage } from "astro:assets";
import PalRingMediaImage from "@assets/project/pal_ring_media.jpg";

const imagesProject = await Astro.glob<{ default: ImageMetadata }>(
  "/src/assets/project/*.{jpeg,jpg,png,gif}"
);
// console.log(imagesProject);

const projects: {
  title: string;
  description: string;
  image?: ImageMetadata;
}[] = [
  {
    title: "Pall ring media",
    description:
      "สำหรับระบบบำบัดน้ำเสีย โครงการโรบินสันกลาง จังหวัดภูเก็ต จำนวน 200,000 ชิ้น",
  },
  {
    title: "Cross flow media",
    description:
      "ใช้ในระบบบำบัดน้ำเสีย โครงการ นิคมอุตสาหกรรมโรจน จ 2 โครงการ 8",
  },
  {
    title: "Tube Settler",
    description:
      "โครงการโรงผลิตน้ำประปาสามเสน กรุงเทพมหานคร ขนาด (ก.×ย.×ส.) 100 x 25 x 75 ซม.",
  },
  {
    title: "Tube Settler",
    description: "สีฟ้า ขนาด ยาว 3 เมตร 24 ก้อน และ ยาว 2.40 เมตร 144 ก้อน",
  },
  {
    title: "Drift Eliminator รุ่น Blade type",
    description: "ขนาด เส้นผ่านศูนย์กลาง 178 เซนติเมตร",
  },
  {
    title: "Cross flow media และ fin filter",
    description: "สำหรับบำบัดตะกอนในบ่อปลาคราฟ",
  },
];

projects.forEach((item, index) => {
  item["image"] = imagesProject[index].default;
});
// console.log(projects);
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">ผลงานของเรา</Fragment>
      <!-- <Fragment slot="desc"></Fragment> -->
    </Sectionhead>

    <div class="py-8">
      <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
        {
          projects.map((item) => (
            <div>
              <div class="flex justify-center items-center">
                {item.image && (
                  <Image
                    data-fancybox=""
                    data-caption={item.title}
                    src={item.image}
                    alt={item.image.src}
                    height={375}
                    loading={"eager"}
                    class="rounded-lg cursor-pointer image-click"
                  />
                )}
              </div>
              <h2 class="font-medium text-2xl text-gray-800 text-center mt-4">
                {item.title}
              </h2>
              <p class="text-lg leading-relaxed text-slate-500 mt-3">
                {item.description}
              </p>
            </div>
          ))
        }
      </div>
    </div>
  </Container>
</Layout>

<script>
  import { Fancybox } from "@fancyapps/ui";
  import "@fancyapps/ui/dist/fancybox/fancybox.css";

  Fancybox.bind("[data-fancybox]", {
    // Your custom options
  });
</script>
