---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Image } from "astro:assets";
import LogoImage from "@assets/logo_2.webp";
import LanguagePicker from "@components/LanguagePicker.astro";
import { getCollection } from "astro:content";
const contactList = await getCollection("contact");
const currentLocale = Astro.currentLocale;

const contactLocaleData = contactList.find((page) => {
  const [lang, ...slug] = page.slug.split("/");
  return lang === currentLocale ? page : null;
});

const menuitems = [
  {
    title: "หน้าหลัก",
    path: "/",
  },
  {
    title: "เกี่ยวกับเรา",
    path: "/pricing",
  },
  {
    title: "สินค้า",
    path: "/blog",
    children: [
      { title: "ระบบบำบัดน้ำเสีย", path: "/" },
      { title: "ระบบผลิตน้ำประปา", path: "#" },
      { title: "ระบบบำบัดอากาศ", path: "#" },
      { title: "ระบบดักละอองน้ำ", path: "/404" },
    ],
  },
  {
    title: "บทความ",
    path: "/about",
  },
  {
    title: "ติดต่อเรา",
    path: "/contact",
  },
];
---

<script>
  const header = document.getElementById("header");
  document.addEventListener("scroll", (evt) => {
    const condition =
      document.body.scrollTop > 0 || document.documentElement.scrollTop > 0;
    if (!header) return;
    if (condition) {
      header.style.setProperty("--header-height", "5rem");
    } else {
      header.style.setProperty("--header-height", "7rem");
    }
  });
</script>

<div class="flex items-center h-10 bg-primary-950 text-white px-4">
  โทร. {contactLocaleData?.data.tels.map((m) => <span class="mr-2">{m},</span>)}
  E-mail: {contactLocaleData?.data.email}
</div>
<Container fullwidth class="sticky top-0 z-20 bg-primary-900">
  <header
    style="--header-height: 7rem; height: var(--header-height)"
    class="flex flex-col lg:flex-row justify-between items-center transition-all duration-500"
    id="header">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between px-4">
        <a href="/" class="text-lg w-[200px]"
          ><Image
            src={LogoImage}
            alt={"Logo"}
            width={LogoImage.width / 8}
            densities={[1.5, 2]}
            class="bg-white rounded-2xl"
          />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-white hover:text-yellow-100 text-lg">
                      <span> {item.title}</span>
                      {/* {item?.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                          New
                        </span>
                      )} */}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">Menu</div>
      </MenuItems>
    </Astronav>
    <div class="w-[200px] text-white">
      <div class="hidden lg:flex items-center gap-4">
        <Link
          href="#"
          target="_blank"
          outline
          class="flex gap-1 items-center justify-center"
          rel="noopener">
          ขอใบเสนอราคา
        </Link>
        <LanguagePicker />
      </div>
    </div>
  </header>
</Container>
