---
import { SEO } from "astro-seo";
import Footer from "@components/home/footer.astro";
import Navbar from "@components/navbar/navbar.vue";
import "../global.css";
import "@fontsource/anuphan/300.css";
import "@fontsource/anuphan/400.css";
import "@fontsource/anuphan/500.css";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import LogoImage from "@assets/logo_2.webp";
import type { MenuItem } from "app";
import SocialGroup from "@components/socialGroup.astro";
import TopBar from "@components/navbar/topbar.astro";
import Link from "@components/ui/link.astro";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const contactList = await getCollection("contact");
const currentLocale = Astro.currentLocale;

const contactLocaleData = contactList.find((page) => {
  const [lang, ...slug] = page.slug.split("/");
  return lang === currentLocale ? page : null;
});

const menuitems: MenuItem[] = [
  {
    title: "หน้าหลัก",
    path: "/",
  },
  {
    title: "เกี่ยวกับเรา",
    path: "/pricing",
  },
  {
    title: "สินค้า",
    path: "/blog",
    children: [
      { title: "ระบบบำบัดน้ำเสีย", path: "/" },
      { title: "ระบบผลิตน้ำประปา", path: "#" },
      { title: "ระบบบำบัดอากาศ", path: "#" },
      { title: "ระบบดักละอองน้ำ", path: "/404" },
    ],
  },
  {
    title: "บทความ",
    path: "/about",
  },
  {
    title: "ติดต่อเรา",
    path: "/contact",
  },
];

const makeTitle = title
  ? title + " | " + "SC media products"
  : "จำหน่ายสินค้าพลาสติกมีเดีย สำหรับระบบบำบัดน้ำเสีย ดักจับไอน้ำ และแผ่นช่วยตกตะกอน";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="จำหน่ายสินค้าพลาสติกมีเดีย สำหรับระบบบำบัดน้ำเสีย ดักจับไอน้ำ และแผ่นช่วยตกตะกอน"
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `SC - ผลิตและจำหน่ายพลาสติกมีเดีย`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Astroship Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <TopBar contactLocaleData={contactLocaleData}>
      <SocialGroup slot={"social"} />
    </TopBar>
    <Navbar
      client:only="vue"
      contactLocaleData={contactLocaleData}
      menuitems={menuitems}>
       <Image
          src={LogoImage}
          alt="logo"
          width={LogoImage.width / 8}
          densities={[1.5, 2]}
          loading={"eager"}
          class="bg-white rounded-2xl"
          slot={"logo"}
        />
        <Link style="primary" href="/contact" slot={"menu-right"}>
          ขอใบเสนอราคา
        </Link>
    </Navbar>
    <main>
      <slot />
    </main>
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
    <div id="fb-root"></div>
  </body>
</html>
